{
    "Version": "2020-12-01",
    "Metadata": {},
    "Parameters": [
        {
            "Name": "ProcessingInstanceCount",
            "Type": "Integer",
            "DefaultValue": 1
        },
        {
            "Name": "InputData",
            "Type": "String",
            "DefaultValue": "s3://${bucket}/abalone/preprocessing/input/input-data.csv"
        },
        {
            "Name": "TrainingInstanceType",
            "Type": "String",
            "DefaultValue": "ml.m5.xlarge"
        },
        {
            "Name": "ModelApprovalStatus",
            "Type": "String",
            "DefaultValue": "PendingManualApproval"
        },
        {
            "Name": "BatchData",
            "Type": "String",
            "DefaultValue": "s3://${bucket}/abalone/transform/input/input-data.csv"
        },
        {
            "Name": "MseThreshold",
            "Type": "Float",
            "DefaultValue": 6
        }
    ],
    "Steps": [
        {
            "Name": "AbaloneProcess",
            "Type": "Processing",
            "Arguments": {
                "ProcessingResources": {
                    "ClusterConfig": {
                        "InstanceType": "ml.m5.xlarge",
                        "InstanceCount": {
                            "Get": "Parameters.ProcessingInstanceCount"
                        },
                        "VolumeSizeInGB": 30
                    }
                },
                "AppSpecification": {
                    "ImageUri": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-scikit-learn:1.2-1-cpu-py3",
                    "ContainerEntrypoint": [
                        "python3",
                        "${base_container_dir}/code/preprocessing.py"
                    ]
                },
                "RoleArn": "${execution_role_arn}",
                "ProcessingInputs": [
                    {
                        "InputName": "input-data",
                        "AppManaged": false,
                        "S3Input": {
                            "S3Uri": {
                                "Get": "Parameters.InputData"
                            },
                            "LocalPath": "${base_container_dir}/input",
                            "S3DataType": "S3Prefix",
                            "S3InputMode": "File",
                            "S3DataDistributionType": "FullyReplicated",
                            "S3CompressionType": "None"
                        }
                    },
                    {
                        "InputName": "code",
                        "AppManaged": false,
                        "S3Input": {
                            "S3Uri": "s3://${bucket}/abalone/preprocessing/code/preprocessing.py",
                            "LocalPath": "${base_container_dir}/code",
                            "S3DataType": "S3Prefix",
                            "S3InputMode": "File",
                            "S3DataDistributionType": "FullyReplicated",
                            "S3CompressionType": "None"
                        }
                    }
                ],
                "ProcessingOutputConfig": {
                    "Outputs": [
                        {
                            "OutputName": "train",
                            "AppManaged": false,
                            "S3Output": {
                                "S3Uri": {
                                    "Std:Join": {
                                        "On": "/",
                                        "Values": [
                                            "s3://${bucket}/AbalonePipeline",
                                            {
                                                "Get": "Execution.PipelineExecutionId"
                                            },
                                            "AbaloneProcess/output/train"
                                        ]
                                    }
                                },
                                "LocalPath": "${base_container_dir}/train",
                                "S3UploadMode": "EndOfJob"
                            }
                        },
                        {
                            "OutputName": "validation",
                            "AppManaged": false,
                            "S3Output": {
                                "S3Uri": {
                                    "Std:Join": {
                                        "On": "/",
                                        "Values": [
                                            "s3://${bucket}/AbalonePipeline",
                                            {
                                                "Get": "Execution.PipelineExecutionId"
                                            },
                                            "AbaloneProcess/output/validation"
                                        ]
                                    }
                                },
                                "LocalPath": "${base_container_dir}/validation",
                                "S3UploadMode": "EndOfJob"
                            }
                        },
                        {
                            "OutputName": "test",
                            "AppManaged": false,
                            "S3Output": {
                                "S3Uri": {
                                    "Std:Join": {
                                        "On": "/",
                                        "Values": [
                                            "s3://${bucket}/AbalonePipeline",
                                            {
                                                "Get": "Execution.PipelineExecutionId"
                                            },
                                            "AbaloneProcess/output/test"
                                        ]
                                    }
                                },
                                "LocalPath": "${base_container_dir}/test",
                                "S3UploadMode": "EndOfJob"
                            }
                        }
                    ]
                }
            }
        },
        {
            "Name": "AbaloneTrain",
            "Type": "Training",
            "Arguments": {
                "AlgorithmSpecification": {
                    "TrainingInputMode": "File",
                    "TrainingImage": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-xgboost:1.0-1-cpu-py3"
                },
                "OutputDataConfig": {
                    "S3OutputPath": "s3://${bucket}/AbaloneTrain"
                },
                "StoppingCondition": {
                    "MaxRuntimeInSeconds": 86400
                },
                "ResourceConfig": {
                    "VolumeSizeInGB": 30,
                    "InstanceCount": 1,
                    "InstanceType": {
                        "Get": "Parameters.TrainingInstanceType"
                    }
                },
                "RoleArn": "${execution_role_arn}",
                "InputDataConfig": [
                    {
                        "DataSource": {
                            "S3DataSource": {
                                "S3DataType": "S3Prefix",
                                "S3Uri": {
                                    "Get": "Steps.AbaloneProcess.ProcessingOutputConfig.Outputs['train'].S3Output.S3Uri"
                                },
                                "S3DataDistributionType": "FullyReplicated"
                            }
                        },
                        "ContentType": "text/csv",
                        "ChannelName": "train"
                    },
                    {
                        "DataSource": {
                            "S3DataSource": {
                                "S3DataType": "S3Prefix",
                                "S3Uri": {
                                    "Get": "Steps.AbaloneProcess.ProcessingOutputConfig.Outputs['validation'].S3Output.S3Uri"
                                },
                                "S3DataDistributionType": "FullyReplicated"
                            }
                        },
                        "ContentType": "text/csv",
                        "ChannelName": "validation"
                    }
                ],
                "HyperParameters": {
                    "objective": "reg:linear",
                    "num_round": "50",
                    "max_depth": "5",
                    "eta": "0.2",
                    "gamma": "4",
                    "min_child_weight": "6",
                    "subsample": "0.7"
                }
            }
        },
        {
            "Name": "AbaloneEvaluation",
            "Type": "Processing",
            "Arguments": {
                "ProcessingResources": {
                    "ClusterConfig": {
                        "InstanceType": "ml.m5.xlarge",
                        "InstanceCount": 1,
                        "VolumeSizeInGB": 30
                    }
                },
                "AppSpecification": {
                    "ImageUri": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-xgboost:1.0-1-cpu-py3",
                    "ContainerEntrypoint": [
                        "python3",
                        "${base_container_dir}/code/evaluation.py"
                    ]
                },
                "RoleArn": "${execution_role_arn}",
                "ProcessingInputs": [
                    {
                        "InputName": "model-artifacts",
                        "AppManaged": false,
                        "S3Input": {
                            "S3Uri": {
                                "Get": "Steps.AbaloneTrain.ModelArtifacts.S3ModelArtifacts"
                            },
                            "LocalPath": "${base_container_dir}/model",
                            "S3DataType": "S3Prefix",
                            "S3InputMode": "File",
                            "S3DataDistributionType": "FullyReplicated",
                            "S3CompressionType": "None"
                        }
                    },
                    {
                        "InputName": "test-data",
                        "AppManaged": false,
                        "S3Input": {
                            "S3Uri": {
                                "Get": "Steps.AbaloneProcess.ProcessingOutputConfig.Outputs['test'].S3Output.S3Uri"
                            },
                            "LocalPath": "${base_container_dir}/test",
                            "S3DataType": "S3Prefix",
                            "S3InputMode": "File",
                            "S3DataDistributionType": "FullyReplicated",
                            "S3CompressionType": "None"
                        }
                    },
                    {
                        "InputName": "code",
                        "AppManaged": false,
                        "S3Input": {
                            "S3Uri": "s3://${bucket}/abalone/evaluation/code/evaluation.py",
                            "LocalPath": "${base_container_dir}/code",
                            "S3DataType": "S3Prefix",
                            "S3InputMode": "File",
                            "S3DataDistributionType": "FullyReplicated",
                            "S3CompressionType": "None"
                        }
                    }
                ],
                "ProcessingOutputConfig": {
                    "Outputs": [
                        {
                            "OutputName": "evaluation",
                            "AppManaged": false,
                            "S3Output": {
                                "S3Uri": {
                                    "Std:Join": {
                                        "On": "/",
                                        "Values": [
                                            "s3://${bucket}/AbalonePipeline",
                                            {
                                                "Get": "Execution.PipelineExecutionId"
                                            },
                                            "AbaloneEvaluation/output"
                                        ]
                                    }
                                },
                                "LocalPath": "${base_container_dir}/evaluation",
                                "S3UploadMode": "EndOfJob"
                            }
                        }
                    ]
                }
            },
            "PropertyFiles": [
                {
                    "PropertyFileName": "EvaluationReport",
                    "OutputName": "evaluation",
                    "FilePath": "evaluation.json"
                }
            ]
        },
        {
            "Name": "AbaloneMSECondition",
            "Type": "Condition",
            "Arguments": {
                "Conditions": [
                    {
                        "Type": "LessThanOrEqualTo",
                        "LeftValue": {
                            "Std:JsonGet": {
                                "PropertyFile": {
                                    "Get": "Steps.AbaloneEvaluation.PropertyFiles.EvaluationReport"
                                },
                                "Path": "regression_metrics.mse.value"
                            }
                        },
                        "RightValue": {
                            "Get": "Parameters.MseThreshold"
                        }
                    }
                ],
                "IfSteps": [
                    {
                        "Name": "AbaloneRegisterModel",
                        "Type": "RegisterModel",
                        "Arguments": {
                            "ModelPackageGroupName": "AbaloneModelGroup",
                            "ModelMetrics": {
                                "ModelQuality": {
                                    "Statistics": {
                                        "ContentType": "application/json",
                                        "S3Uri": {
                                            "Std:Join": {
                                                "On": "/",
                                                "Values": [
                                                    "s3://${bucket}/AbalonePipeline",
                                                    {
                                                        "Get": "Execution.PipelineExecutionId"
                                                    },
                                                    "AbaloneEvaluation/output/evaluation.json"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "Bias": {},
                                "Explainability": {}
                            },
                            "InferenceSpecification": {
                                "Containers": [
                                    {
                                        "Image": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-xgboost:1.0-1-cpu-py3",
                                        "Environment": {},
                                        "ModelDataUrl": {
                                            "Get": "Steps.AbaloneTrain.ModelArtifacts.S3ModelArtifacts"
                                        }
                                    }
                                ],
                                "SupportedContentTypes": [
                                    "text/csv"
                                ],
                                "SupportedResponseMIMETypes": [
                                    "text/csv"
                                ],
                                "SupportedRealtimeInferenceInstanceTypes": [
                                    "ml.t2.medium",
                                    "ml.m5.xlarge"
                                ],
                                "SupportedTransformInstanceTypes": [
                                    "ml.m5.xlarge"
                                ]
                            },
                            "ModelApprovalStatus": {
                                "Get": "Parameters.ModelApprovalStatus"
                            },
                            "SkipModelValidation": "None"
                        }
                    },
                    {
                        "Name": "AbaloneCreateModel",
                        "Type": "Model",
                        "Arguments": {
                            "ExecutionRoleArn": "${execution_role_arn}",
                            "PrimaryContainer": {
                                "Image": "683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-xgboost:1.0-1-cpu-py3",
                                "Environment": {},
                                "ModelDataUrl": {
                                    "Get": "Steps.AbaloneTrain.ModelArtifacts.S3ModelArtifacts"
                                }
                            }
                        }
                    },
                    {
                        "Name": "AbaloneTransform",
                        "Type": "Transform",
                        "Arguments": {
                            "ModelName": {
                                "Get": "Steps.AbaloneCreateModel.ModelName"
                            },
                            "TransformInput": {
                                "DataSource": {
                                    "S3DataSource": {
                                        "S3DataType": "S3Prefix",
                                        "S3Uri": {
                                            "Get": "Parameters.BatchData"
                                        }
                                    }
                                }
                            },
                            "TransformOutput": {
                                "S3OutputPath": "s3://${bucket}/AbaloneTransform"
                            },
                            "TransformResources": {
                                "InstanceCount": 1,
                                "InstanceType": "ml.m5.xlarge"
                            }
                        }
                    }
                ],
                "ElseSteps": [
                    {
                        "Name": "AbaloneMSEFail",
                        "Type": "Fail",
                        "Arguments": {
                            "ErrorMessage": {
                                "Std:Join": {
                                    "On": " ",
                                    "Values": [
                                        "Execution failed due to MSE >",
                                        {
                                            "Get": "Parameters.MseThreshold"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                ]
            }
        }
    ]
}