{
  "Version": "2020-12-01",
  "Steps": [
    {
      "Name": "Test",
      "DisplayName": "Test Step",
      "Description": "This is a test step",
      "Type": "Fail",
      "Arguments": {
        "ErrorMessage": "Test"
      }
    }
  ]
}